{{ define "main" }}
<div class="container">
	<h1>{{ .Title | emojify }}</h1>
	Published on {{ .PublishDate.Format "Jan. 2, 2006" }}, last edited on {{ .Lastmod.Format "Jan. 2, 2006" }} </br>
	<div class="tags-list">
		{{- with .Params.tags -}}
			{{- if ge (len .) 1 -}}
				{{- range . -}}
					<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">#{{ . }}</a>
				{{ end -}}
			{{- end -}}
		{{- end -}}
	</div>
	{{ with .Params.linkedin }}
		// <a href="{{ . }}">Linkedin</a>
	{{ end }}
	{{ with .Params.twitter }}
		// <a href="{{ . }}">Twitter</a>
	{{ end }}
	<hr/>
	{{ .Content }}
	</div>
{{ end }}
